*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;  
}

.app {
   display: grid;
   grid-template-columns: 30vw auto;
   grid-template-rows: 3rem auto;
   padding: 1rem;
}

.header {
   grid-column: 1/2;
   grid-row: 1;
   margin: 1rem;
   color: var(--text-color);
   text-align: center;
}

.menu-bar {
   grid-column: 1;
   grid-row: 2;

   align-self: start;
   justify-self: center;

   background-color: var(--secondary-color);
   border: 1px solid var(--border-color);
   border-radius: 0.25rem;
   
   width: 20rem;
   height: 40vh;
   
   padding: 1rem;
   margin: 2rem;
   
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: middle;
}

.menu-bar-option {
   display: flex;
   justify-content: space-between;
   color: var(--text-color);
   margin: 0.125rem;
}

.menu-bar-option-input {
   width: 5rem;

   text-align: center;

   background-color: var(--background-color);
   
   border: 1px solid var(--border-color);
   border-radius: 0.25rem;

   color: var(--text-color);
}

.menu-bar-buttons {
   text-align: center;
}

.menu-bar-button {
   font-size: large;
   height: 2rem;
   width: 75%;

   align-self: center;
   margin: 0.125rem;
   
   background-color: var(--secondary-color);
   
   color: var(--text-color);
   font-weight: bold;
   
   border: 1px solid var(--border-color);
   border-radius: 0.25rem;
}

.menu-bar-button:hover {
   background-color: var(--background-color);
   border: 1px solid var(--border-color);
   cursor: pointer;
}

.grid {
   grid-column: 2;
   grid-row: 2;
   display: grid;
   justify-content: center;
   align-items: center;
}

.square {
   position: relative;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   width: 2.5rem;
   height: 2.5rem;

   outline: 1px solid black;

   user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
}

.square-info {
   font-size: 13px;
   font-weight: bold;
   color: black;
}

.square-info:first-child {
   position: relative;
   left: -8px;

   font-size: 10px;
}

.square-info:last-child {
   position: relative;
   left: 8px;

   font-size: 10px;
}
